@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #D3AF02;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header p{
text-align:center;
color: #000000;
}
.section-header .section-title {
  font-size: 44px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;  


  display: block;
  text-align: center;
  color: #3A3A3A;
}
.section-header .section-title:before {
  content: "-----< o >----";
  position: absolute;
  width: 140px;
  bottom: 4px;
  right: 0;
  width: 100px;
  color: #FFFFFF;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 8px;
  font-size: 15px;
  font-weight: bolder;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #2D930A;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #01AB31;
}
.listarrow{
padding:0px;
}
.listarrow li{
list-style:none;
margin:0px;
padding:0px;
}
.listarrow li i{
padding-right: 17px;
color: #F6CC07;
/* font-size: 16px; */
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #696969;
  margin-bottom: 15px;
  position: relative;
  color: #fff;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%; 
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}

.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {
background: #FFFFFF;
/* padding: 10px 0; */
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
background: rgb(246, 204, 7);
color: #3A3A3A;
/* font-weight: bold; */
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 15px 15px 1px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #F6CC07;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #FFFFFF;
font-weight: 600;
} 
#main-nav.navbar-default {
background: #3A3A3A;
box-shadow: 0px 1px 2px rgba(40, 40, 40, 0.6);
}
.navbar-nav>li {
}
 #main-nav.navbar-default .navbar-nav > li > a{
   padding-top: 32px;
  padding-bottom: 32px;
  border-top: 4px solid transparent;
 }

@media only screen and (min-width: 768px) {
  #main-nav.navbar-default { 
  }
  #main-nav.navbar-default .navbar-nav > li > a { 
}
  .navbar-default .navbar-nav>li>a {
	color: #F6CC07;
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,

  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: rgb(246, 204, 7); 
	
    color: #3D3737;
  
    border-top: 4px solid #C3A103;
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}

#hero-banner{
  overflow: hidden;
  height: 700px;
  background: url('../images/banner/banner.jpg');
  background-size:cover;
  color:#fff;
}
#hero-banner.item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#hero-banner.banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
}
#hero-banner h2 {
  margin-top: 299px;
  font-size: 39px;
  line-height: 49px; 

  text-align: right;  
}
#hero-banner h2 b{
color:#60E1BF;
}
#hero-banner p { 
  font-size: 22px; 
margin-bottom:20px;
line-height:35px; 

  text-align: right;}
#hero-banner a{
width: 150px;
margin: 0;
display: block;
background: transparent;
border: 2px solid #fff;
float: right;
}
#hero-banner a:hover{
text-align: center;
width: 150px;
margin: 0 auto;
display: block;
background: #60E1BF;
border: 2px solid #60E1BF;
color: #FFF;
}
#hero-banner.banner-inner h2 > span {
  color: #45aed6;
}
#hero-banner.banner-inner .btn {
  margin-top: 10px;
} 
 
#hero-text {
  padding: 50px 0;
  border-top: 1px solid #FFFFFF;
}
#hero-text h2 {
  margin-top: 0;
}
#hero-text .btn {
  margin-top: 40px;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#pricing h2, #pricing p{
color:#fff !important;
}
#features h2{ color: #C3C3C3;}
#features {
  padding: 100px 0;
  background: #FFFFFF;
  color: #000;
}

#features .media.service-box:first-child {
  margin-top: 80px;
}
#services, #features {
  padding: 100px 0 75px;
  background: #F6CC07;
}
.media.service-box {
  margin: 25px 0 36px;
  padding: 20px;
  padding-left: 86px;
  position: relative;
  /* background: #F2F2F2; */
  color: #000000;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 35px;
  /* height: 94px; */
  line-height: 53px;
  text-align: center;
  width: 79px; 
  color: #085C98;
  /* background:#fff; */
  /* box-shadow: inset 0 0 0 1px #d7d7d7; */
  /* -webkit-box-shadow: inset 0 0 0 1px #d7d7d7; */
  transition: background-color 400ms, background-color 400ms;
  position: absolute;
  padding: 14px;
  /* height: 100%; */
  left: -13px;
  top: -1px;
  vertical-align: middle;
  /* background: #3A3A3A; */
  /* border-radius: 0% 50%; */
  /* height: 80px; */
  /* border: 6px #fff solid; */
  bottom: -1px;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.demo-2 {
  margin-top: 88px;
  margin-bottom: 10px;
}
.features .media.service-box .pull-left > i{
color: rgba(255, 255, 255, 0.68);
font-size: 64px;
margin-top: 10px;
overflow: hidden;
}
.media.service-box:hover .pull-left > i {  
}
#portfolio {
  padding: 100px 0;
  background: #FFFFFF;
  background-size: cover;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin:0px 2px;
  color: #4C4C4C;
  position: relative;
  border-bottom: 2px solid transparent;
  background: rgba(145, 145, 145, 0.29);
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #F6CC07;
  color: #FFFFFF; 
} 
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height:100%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview { 
  width: 60px;
  height: 60px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  display:block;
  text-align: center;

  margin: 45px auto;
  font-size: 26px;
  border: 0;
  /* background: rgba(239, 239, 239, 1); */
  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
line-height: 1.42857143;
border: 1px solid #ddd;
border-radius: 0px;
padding:0px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-bottom: 15px;
}
#testimonial {
  background: #222222;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
  background: url('../images/img2.jpg');
  background-size: cover;
}
#testimonial h2, #testimonial p{
color:#fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.2);
margin: 0 8px;
}
#about {
  padding: 100px 0;
  background: #3A3A3A;
  /* background: url('../images/img2.jpg'); */    
  background-size: cover;  };
}
#about .column-title{
color:#fff;
}
#about p{
color:#fff;
}
#about h2{
color:#fff;
}
#about .listarrow li{
color:#fff;
}
/*Team*/ 
#our-team {
  padding: 100px 0;
  background: #FFFFFF;
}
#our-team .team-member {
  padding: 0;  
}
#our-team .team-member .team-img {
  margin: 0;
  border-radius: 40px;
  overflow: hidden;
  border: 5px solid #F6CC07;
}
#our-team .team-member .team-info { 
  background: #FFFFFF;
  color: #3A3A3A;
  padding: 7px 0;
  border-top: 2px solid #fff;
} 
#our-team .team-member:hover .social-icons > li > a {
  color: #60E1BF;
}
 
#our-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;  
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
  background: #FFFFFF;
  padding: 6px 0 6px;
}
#our-team .social-icons > li {
  display: inline-block;
}
#our-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #F6CC07;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #F6CC07;
  margin: 5px 10px;
}
#our-team .social-icons > li > a:hover {
  color: #fff;
  background: #F6CC07;
  border-radius: 50%;
  border: 1px solid #F6CC07;

}
/*Testimonial Area*/

.testimonial-area{
	padding-bottom:60px;
}
.single-testimonial{
	margin-bottom:30px;
}
.single-testimonial blockquote{
	padding:15px 20px;
	margin-bottom: 22px;
	position:relative;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
	font-size: 14px;
	background: rgba(66, 66, 66, 0.39);

	color: #D8D8D8;
line-height: 22px;

	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.39);
}
 
.single-testimonial blockquote:after{
	/* position:absolute; */
	/* bottom:-19px; */
	/* left:45px; */
	content:"";
	/* border-top: 19px solid rgba(255, 255, 255, 0.29); */

	/* border-right: 22px solid transparent; */
}
.single-testimonial img{
	border-radius: 50%;
	opacity: 0.6;
}
.single-testimonial h5{
	padding: 8px 0 0px;
	font-size: 16px;
	color: #F6CC07;
}
 
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
 .navbar-nav {
margin: 0;  
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  padding: 100px 0 70px;
  background: #FFFFFF;
  background-size: cover;
  color: #000;
  /* background: url('../images/img2.jpg'); */
  background-size: contain;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #151313;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
  color: #000;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 4px solid #F6CC07;
  border-radius: 100px;
  margin-bottom: 20px;
  color: #000;
}
#pricing {
  padding: 100px 0 70px;
  background: #3A3A3A;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px; 
  padding: 8px;
  text-align: center;
  background: #FFFFFF;
  color: #5A5A5A;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #FEFEFE; 
  padding: 15px 15px 30px;
  color: #F4FBFF !important;
  border-bottom: 4px solid #F6CC07;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -16px;
  display: inline-block;
  width: 100%;
  height: 85px; 
  color: #474747;  
}
li.plan-purchase .btn {
  width: 100%;
}

#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #5A5A5A;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #F6CC07; 
  border: 0;
  color: #3A3A3A;
}
#pricing ul.pricing.featured  li.plan-header .price-duration{
color: #234259;
}
#pricing ul.pricing.featured li.plan-header {
    background: transparent;
    border-bottom: 4px solid #fff;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #234259;
}
#contact-us {
  padding: 100px 0 10px;
  background: #000 url('../images/map-image.png') top left no-repeat;
}
#contact-us h1,
#contact-us h2, #contact-us p {
    color: #fff;
}
/*Contact*/
 .contact-info{
 background: #F6CC07;
 padding: 50px;
 margin-bottom: 50px;
 color: #3A3A3A;
}
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control { 
padding: 6px 12px;
border-radius: 0;
}
 .business-stats:before {
content: '';
margin: 17px;
display: block;
border: currentcolor;
height: 100px;
border-radius: 50%;
position: absolute;
width: 100px;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #0B0B0B;
  background: #FFFFFF;
}
#footer a {
  color: #000;
}
#footer a:hover {
  color: #60E1BF;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
 display: inline-block; 

padding: 3px 0;
width: 31px;
text-align: center;
}
/*hero-action-section*/
.hero-action-section {
    background-image: url("../images/img2.jpg");
    text-align: center;
    color: #fff;
    padding: 60px 0;
}

.hero-action-subtitle,
.hero-action-title {
    display: block;
}

.hero-action-subtitle {
    font-size: 16px;
}

.hero-action-title {
    font-size: 38px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero-action-description {
    font-size: 14px;
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    line-height: 19.6px;
}

.get-started {
    display: inline-block;
    border: 1px solid #fff;
    width: 154px;
    height: 49px;
    line-height: 49px;
    margin: 50px auto;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 10px;
}

.get-started:hover {
    color: #fff;
    background-color: #00c1ef;
    text-decoration: none;
    border: none;
}

.call-us .get-started:hover {
    background-color: #000;
}

@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
@media only screen and (max-width:768px){
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #A3A3A3;
padding: 10px 0;
}
#main-nav.navbar-default {
  background: #3A3A3A;
  padding: 1px 0 15px;
}
#main-nav.navbar-default .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 13px;
  border-top: 4px solid transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #9E9E9E; 
}
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media only screen and (max-width: 480px) {
#hero-banner h2 {
margin-top: 161px;
font-size: 26px;
line-height: 40px;
padding: 10px;
}
#hero-banner p {
font-size: 18px;
padding: 10px;
}
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
	#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
	}
	#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}

/* Start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */

/* Defining the root */
:root{
    --bg-color: #e2e2e2;
    --primary: #1c1c1c;
    --secondary: #e24806;
    --tertiary: #f4f4f4;
    --fourth : #a7a7a7;
    --linear-background: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.54));
    --linear-background-destination: linear-gradient(to bottom,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.80));
}

/* Global Button */
.btn{
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.btn:active:focus,
.btn:focus,
.btn:active{
    outline: none;
    border-radius: 20px;
}
.bg_btn{
    width: 200px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 20px;
    transition: 0.68s ease-out;
}
.bg_btn:hover{
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}
.border_btn{
    width: 220px;
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 20px;
    transition: 0.68s ease-out;
}
.border_btn:hover{
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--tertiary);
}

/* Global Tag Section Styling */
.tag_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1.0rem;
}
.tag_center{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 1.0rem;
}
.tag_title{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.1rem;
    margin-bottom: 0rem;
}
.tag_indicator{
    display: flex;
    align-items: center;
    gap: 0;
}
.line{
    width: 90px;
    height: 2px;
    background: var(--secondary);
}
.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--secondary);
    margin-left: -0.2rem;
    box-shadow: 0px 0px 8px rgb(226, 72, 6, 1);
}


/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    overflow-x: hidden;
}

/* Navbar & Hero Background Image Section */
.bg_image_section{
    width: 100%;
    background: var(--linear-background), url("./img/hospital-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100vh;
}

/* Navbar Section Styling */
.nav_section{
    width: 100%;
    height: 75px;
    background: rgba(68, 27, 5, 0.12);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    padding: 10px 100px;
    /* border-bottom: 1px solid rgba(65, 65, 65, 0.7); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Logo Section */
.logo_link{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    color: var(--tertiary);
    line-height: 50px;
    width: fit-content;
}
.logo_link i{
    font-size: 1.0rem !important;
    color: var(--secondary);
    margin-left: -0.38rem;
}
.nav_section ul{
    float: right;
    line-height: 50px;
}
.nav_section li{
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 8px;
    font-weight: 400;
    letter-spacing: 0.008rem;
}
.nav_section li a{
    color: var(--fourth);
    transition: 0.5s ease-out;
}
.nav_section li a:hover{
    color: var(--secondary);
}
.nav_section li .active{
    color: var(--secondary);
    font-weight: 500;
}

/* Toggle Btn Icon */
#toggleIcon{
    font-size: 1.5rem;
    color: var(--tertiary);
    float: right;
    line-height: 3.5rem;
    display: none;
}


/* Hero Section Styling */
.hero_section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
    flex-direction: column;
}
.text_section{
    font-size: 5rem;
    font-weight: bold;
    color: var(--tertiary);
    line-height: 7rem;
    margin-bottom: 1rem;
    animation: slideLeftToRight 4s ease-out 1;
}
.text_section span{
    font-size: 5.5rem;
    font-weight: bold;
    color: var(--secondary);
}
.btn_group{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    animation: slideRightToLeft 4s ease-out 1;
}

/* ================== Hero Section Animation ================== */
/* Left to Right */
@keyframes slideLeftToRight {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
/* Left to Right */
@keyframes slideRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Service Section */
.service_section{
    width: 100%;
    height: auto;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.service_card{
    width: 370px;
    height: auto;
    background: var(--tertiary);
    padding: 40px 30px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service_icon_box{
    width: 120px;
    height: 150px;
    margin-bottom: 1.0rem;
}
.service_icon_box img{
    width: 100%;
    height: 100%;
}
.service_title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--primary);
    margin-bottom: 0.3rem;
}
.service_desc{
    font-size: 0.95rem;
    line-height: 1.2rem;
    color: var(--fourth);
    margin-bottom: 1.5rem;
}
.learn_more{
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    background: none;
    color: var(--secondary);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    cursor: pointer;
}

/* About Us Section */
.about_section{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 100px;
    display: flex;
    align-items: center;
}
.image_section{
    width: 54%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}
.about_img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}
.content_section{
    position: absolute;
    width: 46%;
    height: auto;
    border-radius: 4px;
    right: 100px;
    background: var(--fourth);
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.1rem;
    padding: 30px 30px 30px 160px;
    box-shadow: 5px 5px 10px rgba(68, 27, 5, 0.12);
    border: 1px solid rgb(143, 143, 143);
}
.about_title{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--primary);
}
.about_desc{
    font-size: 0.93rem;
    line-height: 1.2rem;
    color: var(--primary);
    margin-bottom: 1.3rem;
}
.about_btn{
    border-radius: 4px !important;
    margin-bottom: 1.3rem;
}

/* Divider Section */
.divider{
    background: var(--secondary);
}

/* Doctor Section Styling */
.doctors_section{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.desc{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary);
    margin-bottom: 3rem;
}
.doctor_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}
.doctor_card{
    position: relative;
    width: 400px;
    height: auto;
    background: var(--fourth);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.doctor_card:hover{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
}
.cat_img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    transition: transform 0.34s ease-out;
}
.cat_title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--primary);
    padding: 20px;
    text-align: center;
    transition: 0.3s ease-out;
}
.doctor_card:hover .cat_title{
    color: var(--secondary);
}
.position{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary);
    padding: 5px 10px;
    font-size: 0.98rem;
    font-weight: 500;
}

/* Book Appoinment Section */
.appoinment_section{
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgba(154, 154, 154, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    row-gap: 1.2rem;
}
.appoinment_form_section{
    width: 50%;
    height: 85vh;
    padding: 40px;
    background: var(--tertiary);
    text-align: start;
}
.title{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 0.1rem;
    margin-bottom: 0.7rem;
}
.desc{
    font-size: 1.1rem;
    text-align: start;
    margin-bottom: 1.2rem;
}
.input_group{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}
.dropdown_section{
    width: 49%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input_group label{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.dropdown_section select{
    width: 100%;
    height: 58px;
    background: transparent;
    border: 1px solid var(--fourth);
    padding: 0 10px;
    outline: none;
    border-radius: 4px;
    font-size: 1.1rem;
}
.input_group input{
    width: 49%;
    height: 58px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid var(--fourth);
    outline: none;
    border-radius: 4px;
    font-size: 1.1rem;
}
.msg_box{
    width: 100%;
    height: auto;
    margin-bottom: 1.4rem;
}
.msg_box textarea{
    width: 100%;
    height: auto;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--fourth);
    outline: none;
    border-radius: 4px;
    font-size: 1.1rem;
}
.book_btn{
    width: 330px;
    height: 58px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--tertiary);
    outline: none;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 4px;
    transition: 0.5s ease-out;
}
.book_btn:hover{
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.appoinment_data_section{
    width: 49%;
    height: 85vh;
}
.appoinment_data_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Department Section Styling */
.department_section{
    width: 100%;
    height: auto;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    flex-direction: column;
}
.department_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.department_card{
    width: 630px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}
.department_img_box{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.department_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-out;
}
.department_img:hover{
    transform: skew(-4deg) scale(1.1);
}
.department_category{
    position: absolute;
    top: 0;
    background: var(--secondary);
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 0.99rem;
    font-weight: 500;
    color: var(--tertiary);
}
.department_detail{
    position: absolute;
    bottom: 0;
    background: var(--linear-background-destination);
    width: 100%;
    height: auto;
    padding: 30px 25px 20px 25px;
    font-size: 0.99rem;
    font-weight: 500;
    color: var(--tertiary);
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
}
.department_title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.12rem;
    color: var(--tertiary);
    margin-bottom: 0.5rem;
}
.department_duration{
    font-size: 0.89rem;
    letter-spacing: 0.01rem;
    font-weight: 500;
    color: var(--fourth);
    margin-bottom: 0.8rem;
}
.department_services{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
}
.department_services .tag{
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 3px 15px;
    font-size: 0.87rem;
    background: var(--primary);
    cursor: pointer;
    transition: 0.5s ease-out;
}
.department_services .tag:hover{
    background: var(--secondary);
}


/* Blog Section */
.blog_section{
    width: 100%;
    height: auto;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    flex-direction: column;
}
.blog_section_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}
.blog_box{
    width: 400px;
    height: auto;
    border: 1px solid rgba(65, 65, 65, 0.3);
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(68, 27, 5, 0.3);
    overflow: hidden;
    transition: 0.3s ease-out;
}
.blog_box:hover{
    box-shadow: 3px 4px 15px rgba(68, 27, 5, 0.42);
}
.blog_img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}
.blog_data{
    padding: 15px 20px;
}
.date{
    font-size: 0.80rem;
    color: var(--secondary);
    margin-bottom: 0.7rem;
}
.date i{
    font-size: 0.788rem;
}
.blog_title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 0.099rem;
    margin-bottom: 0.40rem;
}
.blog_desc{
    font-size: 0.89rem;
    color: var(--fourth);
    margin-bottom: 1.4rem;
    line-height: 1.13rem;
}
.read_btn{
    width: auto;
    height: 40px;
    border: none;
    outline: none;
    color: var(--secondary);
    background: transparent;
    font-size: 1.0rem;
    font-weight: 600;
    letter-spacing: 0.099rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.read_btn i{
    color: var(--secondary);
    transition: transform 0.3s ease-out;
}
.read_btn:hover i{
    transform: translateX(5px);
}

/* Contact Us Section Styling */
.contact_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 100px;
}
.contact_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.contact_info{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}
.contact_data{
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 30px;
    gap: 0.7rem;
}
.contact_tag{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1.2rem;
}
.contact_tag .icon{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: var(--fourth);
    border: 2px solid var(--tertiary);
    font-size: 1.3rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_tag .title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--fourth);
    letter-spacing: 0.1rem;
}
.contact_data .detail{
    font-size: 1.2rem;
    color: var(--primary);
}
.contact_form{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact_form form{
    width: 100%;
    height: auto;
}
.contact_form .input_group{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.submit_btn{
    width: 280px;
    height: 58px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--tertiary);
    outline: none;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 4px;
    transition: 0.5s ease-out;
}
.submit_btn:hover{
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}


/* Footer Section Styling */
.footer_section{
    width: 100%;
    height: auto;
    padding: 40px 100px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.about_company{
    width: 50%;
    height: auto;
    margin-bottom: 1.5rem;
}
.about_company .logo_link{
    display: inline-block;
    margin-bottom: 0.83rem;
}
.company_desc{
    font-size: 0.978rem;
    font-weight: 300;
    color: var(--fourth);
    line-height: 1.5rem;
    margin-bottom: 1.7rem;
}
.social_link{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.7rem;
    margin-bottom: 3.0rem;
}
.social_link .link{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: var(--fourth);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--fourth);
    transition: 0.5s ease-out;
}
.social_link .link:hover{
    background: transparent;
    border: 1px solid var(--secondary);
}
.social_link .link i{
    font-size: 1.2rem;
    color: var(--primary);
    transition: 0.5s ease-out;
}
.social_link .link:hover i{
    color: var(--secondary);
}
.footer_section hr{
    margin: 1.2rem 0;
}
.copyright{
    font-size: 0.89rem;
    font-weight: 400;
    color: #4b4b4b;
}
.developer{
    font-size: 0.89rem;
    font-weight: 600;
    color: #5d5d5d;
}


/* Media Query Section */
/* Only Min-width 975 and Max-width 1024 */

@media (max-width: 1024px ) {
    .service_section {
        padding: 100px 30px;
    }
    .image_section {
        width: 56%;
    }
    .content_section {
        width: 53%;
        padding: 30px 30px 30px 50px;
    }
    .about_title {
        font-size: 1.7rem;
    }
    .blog_box {
        width: 358px;
    }
}

/*  Max-width 768 */
@media (max-width: 768px ){
    .nav_section ul{
        position: fixed;
        width: 300px;
        height: 100vh;
        background: rgba(31, 31, 31, 0.99);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 75px;
        right: -100%;
        text-align: center;
        transition: all 0.68s ease-out;
        z-index: 9999;
    }
    .nav_section li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #toggleIcon{
        display: block;
    }
    .nav_section a{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .nav_section ul.showNavbar{
        right: 0;
    }
    .text_section {
        font-size: 3.7rem;
        line-height: 5rem;
    }
    .text_section span {
        font-size: 3.7rem;
    }
    .about_section {
        padding: 100px 30px;
    }
    .image_section {
        width: 90%;
    }
    .content_section {
        width: 90%;
        right: 30px;
    }
    .doctors_section {
        padding: 100px 30px;
    }
    .doctor_card{
        width: 100%;
    }
    .appoinment_section {
        padding: 100px 30px;
        flex-wrap: wrap;
    }
    .appoinment_data_section {
        width: 100%;
        height: 85vh;
    }
    .appoinment_form_section {
        width: 100%;
        height: 95vh;
    }
    .department_section {
        padding: 100px 30px;
    }
    .blog_section {
        padding: 100px 30px;
    }
    .contact_section {
        padding: 100px 30px;
    }
    .contact_box {
        flex-wrap: wrap;
    }
    .contact_info {
        width: 100%;
    }
    .contact_form {
        width: 100%;
    }
    .footer_section {
        padding: 40px 30px;
    }
    .about_company {
        width: 100%;
    }
}

/* max-width 425 */
@media (max-width: 425px ){
    .nav_section {
        padding: 10px 30px;
    }
    .text_section {
        font-size: 2.7rem;
        line-height: 4rem;
    }
    .text_section span {
        font-size: 2.7rem;
    }
    .btn_group {
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .about_section {
        padding: 100px 30px;
    }
    .image_section {
        width: 100%;
    }
    .content_section {
        width: 90%;
        right: 20px;
    }
    .appoinment_form_section {
        height: auto;
        padding: 20px;
    }
    .input_group {
        flex-wrap: wrap;
    }
    .dropdown_section {
        width: 100%;
    }
    .input_group input {
        width: 100%;
    }
    .book_btn {
        width: 280px;
    }
}
.responsive {
    width: 100%;
    height: auto;
  }
/* End */

